form {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    padding: 25px 35px;
    background-color: #fff;
    border-radius: 25px;

    .error {
        font-size: 14px;
        color: #f18181;
        font-weight: 700;
        font-style: oblique;

    }

    .form-element {
        display: flex;
        gap: 5px;

        label {
            font-size: 18px;
            font-weight: 400;
            font-style: italic;
        }

        input {
            padding: 5px 7px;
            outline: none;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            border-radius: 15px;
            border: 1px solid;
        }
    }

    .button {
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        padding: 9px 13px;
        outline: none;
        background-color: rgb(228, 74, 119);
        border-radius: 15px;
        border: none;
        color: #fff;
        transition: 0.5s;
    }

    .button:hover {
        transform: scale(1.1);
    }
}