.icoBox {
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    transition: 0.5s;
    padding-right: 3px;
}

.imgIco {
    width: 24px;
}

.icoBox:hover {
    border-radius: 50%;
    background-color: #b8b3b3;
}

.icoBox:hover::after {
    transition: 0.5s;
    position: absolute;
    top: 55%;
    left: 110%;
    content: 'Вход в аккаунт';
    color: #000;
    font-size: 14px;
    font-weight: 500;
}