.Main {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.posts {
    gap: 5px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
}