.Main {
    display: flex;
align-items: center;
    flex-direction: column;
    .inputTab {
        height: 24px;
        width: 50vw;
        min-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 8vh;
        margin-top: 10vh;
        input {
            height: 24px;
            outline: none;
            width: 50%;
            border:none;
            font-size: 18px;
            border-bottom: 1px solid black;
        }
    }
}
.posts {

    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}