.button {
    margin-top: 10px;
    padding: 12px 30px;
    background-color: #2d60d2;
    border-radius: 20px;
    font-size: 18px;
    transition: 0.5s;
}

.button:hover {
    background-color: #183a83;
    transform: scale(1.1);
}