.inputTab {
    min-width: 250px;
    margin-top: 25px;
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
    margin-bottom: 8vh;
    height: 24px;

    input {
        height: 24px;
        outline: none;
        width: 50%;
        border: none;
        font-size: 18px;
        border-bottom: 1px solid black;
    }
}