.footer {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    margin-bottom: 25px;
    margin-top: 15vh;
    padding: 5vh 5vw;

    .links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        min-width: 250px;
        min-height: 100px;
        gap: 60px;
        
        a{
            gap: 15px;
            font-weight: 900;
            font-size: 24px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
        }
        a:hover {
            border: 1px solid #000;
            border-radius: 35px;
            padding: 15px;
            background-color: #969393;
        }
    }
}