.newPost {
    .form {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        .subs {
            display: flex;
            gap: 10px;
            flex-direction: column;

            h2 {
                font-size: 22px;
            }

            .sub {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;


                span {
                    font-size: 21px;
                }

                .input {
                    padding: 5px 10px;
                    border-radius: 5px;
                    outline: none;
                    font-size: 14px;
                    border: 1px solid #000;
                    min-width: 30vw;
                }

                .inputLike {
                    max-height: 500px;
                    min-height: 50px;
                    max-width: 600px;
                }

                .inputLike::-webkit-scrollbar {
                    width: 0px;
                }
            }

        }
    }

}


@media screen and (max-width: 500px) {
    .account .newPost .form .subs  {
        h2 {
            font-size: 14px;
        }
        .sub span {
            font-size: 16px;
        }
    }
}