.accordion_posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accordion_posts-item {
    margin-left: 25px;
    margin-bottom: 10px;
}

.accordion_posts-button {
    width: 70%;
    padding: 10px;
    text-align: left;
    position: relative;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 19px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.accordion_posts-button:hover {
    background-color: #ddd;
}

.accordion_posts-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 10px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.accordion_posts-content.open {
    max-height: 2550px;
    padding: 10px;
}