.postKey {
    padding: 15px 25px;
    box-shadow: 4px 8px 50px 5px rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;

    .name {
        font-size: 24px;
        font-weight: 600;
    }

    .text {
        max-width: 900px;
        padding-top: 35px;
        font-weight: 400;
        font-size: 18px;
        text-wrap: balance;
        max-height: 600px;
        inline-size: 900;
        overflow-wrap: break-word;
    }
}