.post {
    width: 80vw;
    position: relative;
    padding: 15px 35px;
    box-shadow: 4px 8px 50px 5px rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

    .inputs {
        display: flex;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }

    .input {
        border: none;
        color: #000;
        padding: 4px 7px;
        background-color: #fff;
        outline: none;
        max-width: 1000px;
        min-width: 60vw;
        flex-wrap: wrap;
        text-wrap: wrap;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        border-radius: 15px;
    }

    .inputText {
        resize: none;
        height: 145px;
        padding-top: 15px;
        padding-left: 5px;
        padding: 10px 15px;
        max-height: 600px;
    }

    .inputText::-webkit-scrollbar {
        width: 0px;
    }

    .buttons {
        display: flex;
        gap: 10px;
    }

    .name {
        font-size: 24px;
        font-weight: 600;
    }

    .text {
        font-weight: 400;
        font-size: 18px;
    }

    .img {
        width: 15px;
        position: absolute;
        top: 7px;
        right: 10px;
        transition: 1s;
    }

    .img:hover {
        transform: scale(1.1) rotate(-180deg);
    }

    .change {
        margin-top: 15px;
        background-color: #fff;
        border-radius: 15px;
        padding: 3px 5px;
        color: #000;
        font-weight: bold;
        font-style: italic;
    }

    .change:hover {
        transform: scale(1.1);
        opacity: 1;
    }


}